<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
          </li>
        </ul>
      </div> -->

      <div class="container container-top">
        <header>
            <a href="Home.html" class="navbar-icon">
                <img src="../assets/logo.png" alt="Furniro" class="head-icon">
            </a>
            <nav>
                <ul class="sub-head">
                    <li style="margin-left: 3em;">
                        <a href="Home.html">Home</a></li>
                    <li style="margin-left: 3em;">
                        <a href="Shop.html">Shop</a></li>
                    <li style="margin-left: 3em;">
                        <a href="About.html">About</a></li>
                    <li style="margin-left: 3em;
                    margin-right: 8em;">
                    <a href="contact-form.html" data-toggle="modal" data-target="#contactModal">Contact</a></li>
 
                    <li class="icon">
                        <a href="#">
                        <img class="nav-icon"
                        src="../assets/profile.png" alt="profile"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <img class="nav-icon"
                        src="../assets/search icon.png" alt="search"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <img class="nav-icon"
                        src="../assets/hear icon.png" alt="heart"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <!-- <img class="nav-icon" -->
                        <!-- src="../assets/cart icon.png" alt="cart"/> -->
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="top">
            <img src="../assets/top.png" alt="top"/>
        </div>

        <h1 class="products" style="font-weight: bold;
        font-size: 2.5em; text-align: center; ">OUR PRODUCTS</h1>
    </div>
 
 
    
 



    </div>
  </nav>