<!-- <footer class="footer mt-auto py-5 bg-light">
    <div class="container">
      <span class="text-muted">Contact Us</span>
      <span class="text-muted">About Us</span>

    </div>
  </footer> -->
   <!--FOOTER-->
   <hr class="footer-hr"/>
   <section>
       <footer>
           <div class="footer">
               <div class="footer-content">
                   <div class="section">
                       <h3 style="font-weight: bolder;">
                           Funiro.</h3>
                       <p>400 University Drive Suite
                           <br/> Coral Gables
                           <br/> FL 33134 USA
                       </p>
                   </div>
                   <div class="section">
                       <h3>LINKS</h3>
                       <p> <a href="Home.html"> Home </a></p>
                       <p> <a href="Shop.html"> Shop </a></p>
                       <p> <a href="About.html"> About </a></p>
                       <p> <a href="Contact.html"> Contact </a></p>
                   </div>
                   <div class="section">
                       <h3>HELP</h3>
                       <p><a href="#">Payment Options</a></p>
                       <p><a href="#">Returns</a></p>
                       <p><a href="#">Privacy Policies</a></p>
                   </div>
                   <div class="section">
                       <h3>SIGN UP</h3>
                       <p>Receive exclusive email-only promotions and offers</p>
                       <button class="button">SUBSCRIBE</button>
                   </div>
               </div>
           </div>
       </footer>
     </section>

   <section class="footer">
       <hr class="footer-hr"/>
       <p class="footer-text">2023 furino. All rights reserved</p>
   </section>