*{
    font-family: sans-serif;
}

.card{
    transition: transform 0.3s;
    margin: 20px;
    max-height: 400px;
    min-height: 400px;
    max-width: 250px;
}
.product-container{

    margin-top: 900px;
    width: 85%;
}
.card:hover{
    transform:scale(1.05);
}
.card-img-top{
    float: top;
    max-height: 250px;
    min-height: 250px;
}
.card-title{
    font-size: 0.5cm;
}
.btn{
    font-size: 0.37cm;
    padding: 13px;
}
.btn:hover{
    background-color: #046767;
}