<div class=" product-container container mt-5">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4 shadow-sm ">
          <img [src]="product.image" class="card-img-top" alt="{{product.name}}">
          <div class="card-body">
            <h5 class="card-title my-2">{{product.name}}</h5>
            <p class="card-text my-2">Price: ${{product.price}}</p>
            <button class="btn btn-primary mt-3 ">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  